body
{
    text-align:center;
    background-color: aqua;
}
img
{
  width:350px;
    height:350px;
}
p
{
font-size:20px;
    font-style:italic;
    font-weight: bold;
}
ourcampus
{
    font-size:35px;
}
myNavbar
{
 
    position:fixed;
}
h1
{
    font-weight: bold;
    background-color:burlywood;
}
.ratingapp {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.ratingapp i {
    float: right;
}

.ratingapp span {
    color: #ff7700;
}
.ul
{
    position:fixed;
}
.modal-content
{
margin-top:100px;
color:black;
font-weight:bold;}
.img_modal
{
    display:inline-block;
    color:crimson;
}
.p_modal
{
    margin-top:10px;
    
}
.modal-body
{
    text-align:center;
}
